Resume-Analyzer.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Resume-Analyzer
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:1.0.0@ae50a2db261bffa7289677f2b0a60e60762ceb187b602113b72425ccbe772dc3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782180956441-source-1782181256539-target
      selected: false
      source: '1782180956441'
      sourceHandle: source
      target: '1782181256539'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1782180889216-source-1782180956441-target
      source: '1782180889216'
      sourceHandle: source
      target: '1782180956441'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: 이력서 텍스트
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: resume_text
      height: 109
      id: '1782180889216'
      position:
        x: 121
        y: 261
      positionAbsolute:
        x: 121
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemma2:9b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 0be2f0bd-49a0-401f-bd63-3b30cf47a1da
          role: system
          text: "당신은 전문 채용 헤드헌터이자 커리어 매칭 전문가입니다. 입력된 이력서 텍스트를 분석하여 아래 요구사항에 맞게 명확한\
            \ JSON 형식으로 추출해 주세요.\n\n[이력서 내용]\n{{#1782180889216.resume_text#}}}\n\n\
            [추출 및 출력 요구사항]\n반드시 다른 설명글이나 마크다운 표시(```json 등) 없이 아래 JSON 구조만 100% 출력해\
            \ 주세요:\n{\n  \"primary_job\": \"이력서 본문 최상단에 기재된 '지원 분야' 혹은 '지원 직무' 정보를\
            \ 가장 최우선으로 기준 삼아 추출해 주세요. 단, '및', '와', '과' 같은 접속사나 긴 문장/미사여구를 모두 제거하고,\
            \ 고용24 포털 검색에 최적화된 가장 대중적인 2~3단어 이내의 한글 직무명으로 표준화하여 1개만 작성해 주세요. 직무 키워드\
            \ 뽑을 때 띄어쓰기 유지해주세요.\",\n  \"core_skills\": [\"사용자가 다루는 핵심 기술 스택 리스트\"\
            ],\n  \"ai_keywords\": [\"이력서에 포함된 AI/머신러닝 관련 키워드 리스트\"]\n}\n\n[정답 예시]\n\
            - 잘못된 예: \"AIPM 하남\", \"AIPM\"\n- 올바른 예: \"AI PM\"\n- 잘못된 예: \"자바 백엔드\
            \ 개발자 (판교)\"\n- 올바른 예: \"백엔드 개발자\""
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782180956441'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782180956441'
          - text
          value_type: string
          variable: text
        selected: false
        title: 출력
        type: end
      height: 88
      id: '1782181256539'
      position:
        x: 640
        y: 282
      positionAbsolute:
        x: 640
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 211
      y: 281.5
      zoom: 1
  rag_pipeline_variables: []
